.ds-node__extension-container
{
    background-color: #1D1D1E;
    padding: 8px;
    
}

/* kolory node'ow */

.ds-node__main-container
{
    background-color: blueviolet;  
}

.ds-goal_node__main-container
{
    background-color: green;
}

.ds-quest_node__main-container
{
    background-color: greenyellow;
}

.ds-item_node__main-container
{
    background-color: dodgerblue;
}

.ds-check_quest_node__main-container
{
    background-color: forestgreen;
}

.ds-end_node__main-container
{
    background-color: #7a4029;
}

.ds-fight_node__main-container
{
    background-color: #ee2b2b;
}

.ds-cutscene_node__main-container
{
    background-color: #fff7c8;
}
/*-----------------------------------*/

.ds-node__custom-data-container
{
    background-color: #212325;
    border-radius: 4px;
    padding: 8px;
    margin-top:8px;
}

.ds-node__warning 
{
    background-color: darkred;
}

.ds-node__textfield > .unity-text-field__input
{
    background-color: #1D1D1E;
    border-color: #27292C;
    border-radius: 4px;
    max-width: 240px;
    min-width: 160px;
    padding: 8px;
    white-space: normal;
}

.ds-node__textfield_hidden > .unity-text-field__input
{
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}

.ds-node__textfield_hidden > .unity-text-field__input:focus
{
    background-color: #1D1D1E;
    border-color: #27292C;
}

.ds-node__filename-textfield > .unity-text-field__input
{
    max-width: 1000px;
}

.ds-node__filename-textfield > .unity-text-field__input:focus
{
    margin : 4px;
    padding: 4px;
}

.ds-node__choice-textfield > .unity-text-field__input
{
    font-size: 11px;
    height: 35px;
    max-width: 1000px;
    min-width: 0;
}

.ds-node__choice-textfield > .unity-text-field__input:focus
{
    height: 25px;
    margin: 4px;
    padding: 4px;
}

.ds-node__quote-textfield > .unity-text-field__input
{
    background-color: #232527;
    border-color: rgba(0,0,0,0);
    border-left-color: #5c5d5e;
    border-left-width: 4px;
    padding: 16px;
    max-width: 600px;
}

.ds-node__quote-textfield > .unity-text-field__input:hover
{
    background-color: #252729;
}

.ds-node__quote-textfield > .unity-text-field__input:focus
{
    background-color: #1D1D1E;
    border-color: #27292C;
}

.ds-node__button
{
    background-color: #252729;
    border-color: #1D1D1E;
    max-height: 25px;
    margin: 4px;
}

.ds-node__button:hover
{
    background-color: #2B2D2F;
}

.ds-node__button:active
{
    background-color: #212325;
    color: #FDD057;
}

TextField
{
    margin-left: 0;
}

.ds-node__custom-data-container > Foldout
{
    margin-left: -4px;
    margin-top: 4px;
}

.ds-node__custom-data-container > Foldout > TextField
{
    margin-left: -12px;
    margin-top: 8px;
}

.unity-toggle__text
{
    margin-left: 2px;
}

